// Colors
$brandColor: #131416;
$neutralColor: #aaaaaa;
$white: #ffffff;

// Color Assigments
$backgroundColor: $white;
$backgroundColorDetail: #eeeeee;
$textColor: $brandColor;
$textAltColor: $neutralColor;
$topNavColor: #232323;
$topNavHeight: #232323;

// App
$appWidth: 1200px;
$contentWidth: 960px;

// Spacings
$baseSpacing: 6;

// Text
$textBiggest: ($baseSpacing*8) * 1px;
$textBig: ($baseSpacing*4) * 1px;
$textBase: 16px;
$textBaseSmall: 14px;
$textSmallest: ($baseSpacing*2) * 1px;

// Transitions
$navLinkHeight: 2px;
$labelColor: $white;
$labelTransitionDuration: 0.4s;
$labelEasing: cubic-bezier(0.33, 1, 0.68, 1);
$imageOpacity: 0.6;
$imageTransitionDuration: 0.6s;

*, *:before, *:after {
	box-sizing: border-box;
}

html, body {
	position: relative;
	height: 100%;
}

body {
	color: $textColor;
	font-family: Source_Sans_Pro, Arial, Helvetica, sans-serif;
}

img {	
	display: block;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.grid {	
	margin: 0 auto;
	width: 100%;
  }

$masonryWidth: 1900px;
$gridColumn: 200;
$gridGutter: 6;

.grid-sizer,
.grid-item { 
	width: $gridColumn * 1px;	
}

.grid-item {
	position: relative;
	margin-bottom: $baseSpacing * 1px;
	overflow: hidden;	

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&--2 {
		width: ($gridColumn * 2 + $gridGutter) * 1px;
	}	

	.label {
		position: absolute;		
		padding: $baseSpacing * 1px;
		transform: translateY(15px);
		opacity: 0;
		text-align: center;
		color: $labelColor;
		font-weight: bold;
		pointer-events: none;
		z-index: 100;
		transition: all $labelTransitionDuration $labelEasing;
	}

	&:hover {
		.label {
			transform: translateY(0);
			opacity: 1;
		}
	}

	&.fade {
		img {
			transition: opacity $imageTransitionDuration ease;
		}

		&:hover {
			img {
				opacity: $imageOpacity;
			}
		}
	}

	&.blur {
		img {
			transition: filter 0.6s ease;
		}
		
		&:hover {
			img {
				filter: blur(4px);
			}
		}
	}
}

.gutter-sizer { 
	width: 2px;
}


// Layout

.app {
	position: relative;
	height: 100%;
	background-color: $backgroundColor;	

	&.detail {
		background-color: $backgroundColorDetail;

		.hero {
			padding: 0 0 ($baseSpacing * 9px) 0;
		}

		.heading {
			font-size: $textBiggest;
			font-weight: bold;
			margin: 0 0 ($baseSpacing * 3px) 0;
		}
	}

	.top-bar {
		width: 100%
	}

	.top-nav {
		position: relative;
		display: flex;
		align-items: center;
		height: 100%;
		max-width: $appWidth;
		padding: ($baseSpacing * 10px) ($baseSpacing * 4px) 0 ($baseSpacing * 4px);
		margin: 0 auto;
	}

	.brand {
		position: relative;
		top: -2px;
		display: inline-block;
		height: 12px;
		width: 12px;
		margin: 0 12px 0 0;
		
		&::before {
			content: "";
			position: absolute;
			display: block;
			bottom: 0;
			left: 0;			
			height: 6px;
			width: 6px;
			background-color: $brandColor;			
		}

		&::after {
			content: "";
			position: absolute;
			display: block;
			top: 0;
			right: 0;
			height: 6px;
			width: 6px;
			background-color: $brandColor;
		}
	}

	.logo {
		text-decoration: none;
		color: $brandColor;		
		font-size: $textBig;
		font-weight: bold;
		text-transform: uppercase;
	}

	.nav {
		margin: 0 0 0 auto;		
		display: flex;		

		.link {			
			position: relative;	
			margin: 0 0 0 ($baseSpacing*5px);
			padding: 12px 0;
			text-decoration: none;
			color: $brandColor;
			display: flex;
			align-items: center;

			&::after {
				content: "";
				position: absolute;
				bottom: 0;
				left: 0;
				height: $navLinkHeight;
				width: 100%;
				background-color: $brandColor;
				transform: scaleX(0);
				transition: transform 0.2s ease;
			}

			&:hover {
				&::after {
					transform: scaleX(1);
				}
			}
		}
	}
	
	.container {	
		max-width: $masonryWidth;	
		margin: auto;
	}

	.hero {
		padding: ($baseSpacing * 10) *1px;

		.heading {
			margin: 0 auto ($baseSpacing*4px) 0;
			text-align: center;
			font-size: $textBiggest;
		}

		.description {
			position: relative;
			left: ($baseSpacing*16) * 1px;
			width:  300px;
			margin: auto;
			line-height: 1.4;
			text-transform: uppercase;
			color: $textAltColor;
		}
	}

	.content {
		display: block;
		margin: ($baseSpacing * 12px) auto;
		width: $contentWidth;
		background-color: $white;
		padding: ($baseSpacing * 9px);
	}
}