// Colors
$brandColor: #131416;
$neutralColor: #aaaaaa;
$white: #ffffff;

// Color Assigments
$backgroundColor: $white;
$textColor: $brandColor;
$textAltColor: $neutralColor;
$topNavColor: #232323;
$topNavHeight: #232323;

// App
$appWidth: 1024px;
$topBarHeight: 60px;

// Spacings
$baseSpacing: 6;

// Text
$textBiggest: ($baseSpacing*8) * 1px;
$textBig: ($baseSpacing*4) * 1px;
$textBase: 16px;
$textBaseSmall: 14px;
$textSmallest: ($baseSpacing*2) * 1px;

// General

body {
	background-color: $backgroundColor;
	color: $textColor;
	font-family: Source_Sans_Pro, Arial, Helvetica, sans-serif;
}

img {	
	display: block;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.grid {	
	margin: 0 auto;
	width: 100%;
  }

$masonryWidth: 1900px;
$gridColumn: 200;
$gridGutter: 6;

.grid-sizer,
.grid-item { 
	width: $gridColumn * 1px;	
}

.grid-item {
	position: relative;
	margin-bottom: $baseSpacing * 1px;
	overflow: hidden;	

	a {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
	}

	&--2 {
		width: ($gridColumn * 2 + $gridGutter) * 1px;
	}	

	.label {
		position: absolute;
		text-align: center;
		z-index: 100;
		color: #fff;
		padding: 6px;
		pointer-events: none;
		transform: translateY(15px);
		transition: all 0.12s ease-out;
		opacity: 0;
		background-color: rgba(35, 35, 35, 0.6);
		font-weight: bold;
	}

	&:hover {
		.label {
			transform: translateY(0);
			opacity: 1;
		}
	}

	&.fade {
		img {
			transition: opacity 0.6s ease;
		}

		&:hover {
			img {
				opacity: 0.4;
			}
		}
	}

	&.blur {
		img {
			transition: filter 0.6s ease;
		}
		
		&:hover {
			img {
				filter: blur(4px);
			}
		}
	}
}

.gutter-sizer { 
	width: 2px;
}


// Layout

.app {
	.top-bar {
		background-color: $topNavColor;
		height: $topBarHeight;
		width: 100%
	}

	.top-nav {
		display: flex;
		align-items: center;
		height: 100%;
		max-width: $appWidth;
		padding: 0 ($baseSpacing * 4px);
		margin: auto;
	}

	.logo {
		text-decoration: none;
		color: $white;		
		font-size: $textBig;
	}

	.nav {
		margin: 0 0 0 auto;

		.link {
			margin: 0 0 0 ($baseSpacing*3px);
			text-decoration: none;
			color: $white;

			&:hover {
				text-decoration: underline;
			}
		}
	}
	
	.container {	
		max-width: $masonryWidth;	
		margin: auto;
	}

	.hero {
		padding: ($baseSpacing * 10) *1px;

		.heading {
			margin: 0 auto ($baseSpacing*4px) 0;
			text-align: center;
			font-weight: bold;
			font-size: $textBiggest;
		}

		.description {
			position: relative;
			left: ($baseSpacing*16) * 1px;
			width:  300px;
			margin: auto;
			line-height: 1.4;
			text-transform: uppercase;
			color: $textAltColor;
		}
	}
}