<!DOCTYPE html>
	{% include head.html %}
<body>
</body>
	<div class="app">
		<div class="top-bar">
			<header class="top-nav">
				<a href="/" class="logo">{{page.logo}}</a>
				<nav class="nav">
					<a href="#" class="link">Portfolio</a>
					<a href="#" class="link">Team</a>
					<a href="#" class="link">Contacts</a>
				</nav>
			</header>
		</div>
		<div class="container">
			<section class="hero">
				<h1 class="heading">{{page.heading}}</h1>
				<p class="description">{{page.description}}</p>
			</section>
			<section class="patchwork"></section>
		</div>
	</div>
</html>
